<%- include('partials/head') %>

<h1>Week 6: Reading: Mathematical Theory of Bayesian Statistics</h1>

<h2>Bayesian Statistics: Definintion</h2>

<ul>
    <li>Probability Distribution and True Distribution</li>
    <li>Model, Prior, and Posterior</li>
    <li>Estimation and Generalization</li>
    <li>Partition Function</li>
    <li>Conditional Independence</li>
</ul>

<h2>Statistical Models</h2>

<ul>
    <li>Normal Distribution</li>
    <li>Multinomial Distribution</li>
    <li>Linear Regression</li>
    <li>Neural Network</li>
    <li>Finite Normal Mixture and Nonparametric Mixture</li>
</ul>

<h2>Bayesian Observables</h2>

<ul>
    <li>Relation between True and Model</li>
    <li>Normalized Observables</li>
    <li>Cumulant Generating Functions</li>
</ul>

<%- include('partials/foot') %>
