<%- include('partials/head') %>

<h1>Week 3: SQL Concepts Reviewed</h1>

<p>
Reading Chapters 1 - 15 (277 pages) from Sams Teach Yourself SQL by Ryan Stephens.
</p>

<h2> Database Theory</h2>
<ul>
    <li> Relational Database and SQL (Chapter 1)</li>
    <li> Components of SQL (Chapter 2), history, the Standard Language</li>
    <li> Basics of Relational Database Design (chapter 5), Logical Model vs Physical Design</li>
    <li> Entities and Relationships (Chapter 6)</li>
    <li> Normalizing Database, Denormalizing a Database (Chapter 7)</li>
    <li> Data Structures, Data Types (Chapter 8)</li>
    <li> Creating and Managing Database Objectes (Chapter 9), schemas, integrity constraints</li>
</ul>


<%- include('partials/foot') %>
