<%- include('partials/head') %>

<h1>Week 5: GIS and Bayesian Satistics</h1>

<h2>GIS: Copernicus RUS Training</h2>

<ul>
    <li>Preprocessing Sentinel data</li>
    <li>Graph Builder and Batch Processing</li>
    <li>Use Band Maths to create masks</li>
    <li>Normalized Burn Ratio (NBR) and Relativized Burn Ratio (RBR)</li>
    <li>Normalized Difference Water Index (NDWI)</li>
    <li> Exporting GeoTiff from SNAP and importing it as raster in QGIS</li>
</ul>

<%- include('partials/foot') %>
