<%- include('partials/head') %>

<h1>Week 2: PowerBI Concepts Reviewed</h1>
<h2>Connecting & Shaping Data</h2>
<ul>
    <li>Types of Data Connectors</li>
    <li>Power Query Editor</li>
    <li>Table Transformations</li>
    <li>Connecting to a Database</li>
    <li>Extracting Data from the Web</li>
    <li>Data QA & Profiling Tools</li>
    <li>Text Tools</li>
    <li>Numerical Tools</li>
    <li>Date & Time Tools</li>
    <li>Change Type with Locale</li>
    <li>Conditional Columns</li>
    <li>Grouping and Aggregating</li>
    <li>Pivoting and Unpivoting</li>
    <li>Merging and Appending</li>
    <li>Data Source Settings</li>
    <li>Refreshing Queries</li>
</ul>
<h2>Creating a Data Model</h2>
<ul>
    <li>Data Modeling and Normalization</li>
    <li>Fact and Dimension Tables</li>
    <li>Primary and Foreign Keys</li>
    <li>Managing Relationships, Creating Relationships vs Merging Tables</li>
    <li>Start and Snowflake Schemas</li>
    <li>Active and Inactive Relationships</li>
    <li>Relationship Cardinality</li>
    <li>Filter context, filter flow, birectional filters and ambiguity</li>
    <li>Model Layouts</li>
    <li>Data Formats & Categories and Hierarchies</li>
</ul>


<%- include('partials/foot') %>
