<%- include('partials/head') %>

<h1>Week 4: Machine Learning Reviewed</h1>

<p>

</p>

<h2>Numpy, Pandas, Matplotlib</h2>
<ul>
    <li>Numpy array, ndarray methods, numpy functions and wrappers</li>
    <li>Pandas series, Pandas dataframe</li>
    <li>Data Explorations using Pandas</li>
    <li>Methods and Operations with Pandas</li>
    <li>Matplotlib.pyplot and matplotlib inline</li>
    <li>Plotting and Designing Charts</li>
</ul>
<h2>Scikit-Learn</h2>
<ul>
    <li>Estimators, Transformers, Predictors</li>
    <li>Preprocessing and Pipeline</li>
    <li>Model Selection</li>
    <li>Test-train split and k-fold cross validation</li>
    <li>Model Evaluation</li>
    <li>Metrics</li>
</ul>
<h2></h2>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<%- include('partials/foot') %>
