<%- include('partials/head') %>

<h1>Week 5: GIS and Bayesian Satistics</h1>

<h2>GIS Copernicus RUS Training</h2>

<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h2>Reading: Mathematical Theory of Bayesian Satistics</h2>

<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<%- include('partials/foot') %>
