<%- include('partials/head') %>

<h1>Week 3: SQL Concepts Reviewed</h1>

<p>
Reading Chapters 1 - 15 (277 pages) from Sams Teach Yourself SQL by Ryan Stephens.
</p>

<h2> </h2>
<ul>
    <li>

    </li>
</ul>


<%- include('partials/foot') %>
